@import url(file:../../docbook.css);
@import url(file:../../highlight-solarized-dark.css);
.toc {
    float: right;
    padding: 0.5em;
    border: 1px dashed gray;
    max-width: 30%;
    margin: 0.5em;
    counter-reset: sectioncounter;
}
.toc p {
    font-style: italic;
    margin: 0;
}
.toc dl {
    margin-left: 1em;
    font-size: 0.9em;
}
.toc dt {
    margin: 0.3em 0;
}
.toc + * {
    counter-reset: sectioncounter;
}
blockquote {
    margin: 0 10%;
}
.article {
    padding: 1em;
    max-width: 700px;
    margin: 0 auto;
}
.programlisting {
    padding: 0.2em;
    margin: 1em 2em !important;
}
.programlisting,
.mediaobject > img,
.mediaobject > object {
    border: 1px solid #2e2e2e;
    -moz-box-shadow: 6px 6px 5px 3px #aaa;
    -webkit-box-shadow: 6px 6px 5px 3px #aaa;
    box-shadow: 6px 6px 5px 3px #aaa;
}
img, object {
    background-color: #fff;
}
body {
    background-color: #eee8d5;
    color: #2e2e2e;
}
.article > .section {
    counter-reset: subsectcounter;
}
.article > .section h2:before,
.toc > dl > dt a:before {
    content: counter(sectioncounter) ". ";
    counter-increment: sectioncounter;
}
.article > .section > .section h3:before {
    content: counter(sectioncounter) "." counter(subsectcounter) ". ";
    counter-increment: subsectcounter;
}

/*
p > code {
    padding: 0.1em;
    background-color: #002b36 !important;
    color: #93A1A1;
}
*/
@media print {
body {
    background-color: #fff !important;
    color: #000 !important;
    font-size: 12px;
}
.programlisting,
.mediaobject > img,
.mediaobject > object {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.article {
    width: 100%;
    max-width: 100%;
}
pre {
    overflow: visible;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    white-space: -pre-wrap;
    word-wrap: break-word;
}
.toc {
    display: none;
}
pre span {
    color: #000 !important;
}
a:link, a:hover, a:visited, a:active {
    color: #000;
    text-decoration: none;
}
p a:before {
    content: "[";
}
p a:after {
    content: " " attr(href) "]"
}
}
